.login-container {
  align-items: center;
  display: flex;
  height: 80vh;
}

.logo-container,
.section-credentials {
  width: 50%;
}

.logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  height: 220px;
  margin-top: 20px;
}

.section-credentials,
.container-contain {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* SECTION LOGIN */

.container-contain,
.favorite-color {
  align-items: flex-start;
  width: 50%;
}

.titulo-signIn,
.welcome-text,
.welcome-text span {
  font-family: Silkscreen;
  font-size: 40px;
  font-weight: 700;
}

.titulo-signIn {
  font-size: 28px;
}

.text-signIn {
  font-size: 12px;
}

.button-google {
  cursor: pointer;
  margin-top: 20px;
  width: 50%;
}

.text-footer {
  bottom: -90px;
  height: 12px;
  position: absolute;
}

@font-face {
  font-family: Silkscreen;
  src: url(../../Assets//Fonts/Silkscreen/slkscr.ttf);
}
