.login-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  height: 80vh;
  width: 80%;
}

.section-credentials {
  height: 240px;
}

/* SECTION LOGIN */

.container-contain {
  width: 50%;
}

.titulo-signIn,
.welcome-text,
.welcome-text span {
  font-family: Silkscreen;
  font-size: 40px;
  font-weight: 700;
  margin-right: auto;
}

.titulo-signIn {
  font-size: 34px;
  line-height: 45px;
}

.text-signIn {
  font-size: 14px;
  margin-right: auto;
  width: 100%;
}

.button-google {
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

@font-face {
  font-family: Silkscreen;
  src: url(../../Assets//Fonts/Silkscreen/slkscr.ttf);
}

@media screen and (max-width: 900px) {
  .section-credentials {
    height: 250px;
    margin-top: 50px;
  }

  .container-contain {
    width: 100%;
  }

  .titulo-signIn,
  .welcome-text,
  .welcome-text span {
    font-size: 35px;
    margin: 0 auto;
    width: 80%;
  }

  .text-signIn {
    font-size: 15px;
    margin: 25px auto;
    width: 80%;
  }

  .button-google {
    cursor: pointer;
    width: 80%;
  }
}
