.nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contain-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0 20px;
  width: 400px;
}

.image {
  height: 25px;
  width: 90px;
}

.photo {
  border-radius: 50px;
  border: 2px solid;
  cursor: pointer;
  margin-left: 15px;
  height: 25px;
  width: 25px;
}

.logo-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30px;
}

.text-nav,
.text-nav span {
  font-family: Silkscreen;
  font-size: 10px;
  margin-right: 2px;
}

.text-nav {
  color: #f50d5a;
  font-weight: lighter;
}

.text-nav span {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .contain-nav {
    width: 360px;
  }
}
