.form-container{
  align-items: center;
  background-color: #150714;
  border-bottom: 2px solid #60265b;
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: center;
}

.creat-tweet-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.create-tweet-area {
  display: flex;
  justify-content: space-between;
}

.image-profile,
.photo-profile {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.text-area::first-letter {
  display: block;
  text-transform: uppercase;
}

.text-tweet {
  background-color: #2f112d;
  border: none;
  display: block;
  margin-right: 5px;
  height: 125px;
  outline: none;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  resize: none;
  width: 340px;
  overflow: auto;
}

.text-tweet::placeholder {
  color: #914d8b;
  padding-left: 2px;
  padding-top: 2px;
}

.progress-wrapper {
  width: 340px;
}

.progress-bar {
  background-color: #00da76;
  bottom: 0px;
  height: 2px;
  transition: 0.2s ease;
}

.create-tweet-post {
  width: 340px;
  margin-left: auto;
  margin-right: 5px;
}

.counter-words {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.333333px;
  margin: 0;
}

.max-words {
  color: #f50d5a;
  font-size: 12px;
  line-height: 22px;
  margin: 0;
  text-align: right;
  letter-spacing: -0.333333px;
}

.post-button {
  background-color: #2f112d;
  border: none;
  color: #150714;
  cursor: pointer;
  font-family: Silkscreen;
  font-weight: bold;
  font-size: 18px;
  height: 25px;
  letter-spacing: -0.333333px;
  line-height: 18px;
  margin-left: auto;
  margin-right: 5px;
  outline: none;
  width: 80px;
  transition: 0.4s ease;
}

.post-button:disabled {
  background-color: #2f112d41;
  cursor:initial;
}

.post-button:active {
  background-color: #00da76;
  color: #fff;
}
