.container-tweet-list {
  position: relative;
}

.tweet-container {
  align-items: center;
  border-bottom: 2px solid #60265b;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 15px auto;
  position: relative;
  width: 400px;
}

.post-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-name-date {
  align-items: center;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  width: 340px;
}

.flex-row {
  display: flex;
}
.user-name {
  align-items: center;
  border-bottom-left-radius: 2px;
  display: flex;
  font-family: Silkscreen;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  height: 25px;
  letter-spacing: -0.333334px;
  margin: auto;
  padding: 5px;
}

.date {
  margin: auto;
  margin-left: 10px;
}

.image-profile {
  display: flex;
  margin-bottom: auto;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.photo-profile {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.tweet-post {
  font-size: 12px;
  width: 340px;
  line-height: 18px;
  word-wrap: break-Word;
}

.trush-svg {
  align-items: center;
  background-color: rgba(0, 128, 0, 0);
  border: none;
  display: flex;
  justify-content: center;
  width: 25px;
}

.trush-svg,
.like,
.unlike {
  cursor: pointer;
}

.likes-container {
  display: flex;
  margin-right: auto;
}

.like-svg {
  background-color: inherit;
  border: none;
}

.like-svg .like,
.like-svg .unlike {
  outline: none;
  display: flex;
  align-items: center;
  width: 16px;
  height: auto;
}

.likes-container p {
  margin-left: 0px;
  font-size: 10px;
}

.favorite {
  color: #f50d5a;
}

